In [4]:
import math

print(math.floor(2.9))
print(abs(-4.67))

2
4.67

In [2]:
#Guessing Game with While Loop. 
#The user has 3 attempts to guess the secret number. If he is able to guess it in 3 or less attempts print "You won" otherwise print "You failed"
secret_number = 8
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
    guess = int(input("Guess: "))
    guess_count +=1
    if guess == secret_number:
        print("You Won!")
        break
else:
    print("You failed!") #Whatever is written in the else block is executed if guess != secret number after the condition in the while loop becomes false

You Won!

In [3]:
#A car game using while loops
command =""
start = False
while True:
    command = input("Enter a command: ").lower() #Input will be stored in lower case
    if command == "start":
        if start:
            print("Already started")
        else:
            print("Starting the car")
            start = True
    elif command == "stop":
        if not start:
            print("Car is already stopped")
        else: 
            print("Stopping the car")
            start = False
    elif command == "help":
        print("""
start - Starts the car
stop - stops the car
quit - ends the game
              """)
    elif command == "quit":
        break
    else:
        print("Can't understand command")

start - Starts the car
stop - stops the car
quit - ends the game

Starting the car
Already started
Stopping the car
Car is already stopped
Can't understand command

In [5]:
#Formatted Strings

#Prefx the strings with 'f' and use {} to dynamically insert value into the strings

fname = "Harry"
last_name = "Smith"
print(f"{fname} [{last_name}] says hello!!")

Harry [Smith] says hello!!

In [8]:
#Dictionaries

#Key : Value paires
#Duplicate keys are not allowed

#Converting digits to words. So 1234 is One Two Three Four

number = input()
digit_converter = {
    "1" : "One",
    "2" : "Two",
    "3" : "Three"
}
output = ""
for digit in number:
    output += digit_converter[digit] + " "

print(output)

One Two Two

In [10]:
msg = input()
words = msg.split(" ") #Anywhere it finds a blank space it uses that to split msg into list elements.
print(words)

['Helllo', 'World', 'Three']

In [12]:
#Classes

#An object is an instance of a class. Classes define the blueprint and object are instances of that blueprint

#Creating a class Person that has - name attribute and -talk() method
class Person:
    def __init__(self, name):
        self.name = name
        
    def talk(self):
        print("talk")
        print(f"Hi, I am {self.name}")
    
ron = Person('Ronald Wesealy')
print(ron.name)
ron.talk()

Ronald Wesealy
talk
Hi, I am Ronald Wesealy

In [14]:
#Inheritance

class Mammal:
    def walk(self):
        print("walk") 

class Dog(Mammal): #By adding (Mammal), our dog class will inherit all the methods defined in the mammal class
    pass #If we want an empty class

class Cat(Mammal):
    def meow(self):
        print("Meow")



dog1 = Dog()
dog1.walk()
cat1 = Cat()
cat1.meow()

walk
Meow

In [3]:
#Module and Packages
from ecommerce import shipping
shipping.calc_shipping()

#OR

import ecommerce.shipping
ecommerce.shipping.calc_shipping()

#OR
from ecommerce.shipping import calc_shipping
calc_shipping()

calc_shipping
calc_shipping
calc_shipping

In [4]:
#Generating a random roll of two dices
import random

class Dice:
    def roll(self):
        first = random.randint(1,6)
        second = random.randint(1,6)
        return first,second #Returning a tuple. We don't necessarily have to add () around first and second. So (first,second) X
    
dice = Dice()
print(dice.roll())

(5, 6)

In [5]:
#Importing excel spreedsheet and manipulating it

import openpyxl as xl
wb = xl.load_workbook('transactions.xlsx')
sheet = wb['Sheet1'] #To access Sheet1 of transactions.xslx
cell = sheet['a1'] #To access each cell within an excel sheet
#print(cell.value)

#How to know how many rows do we have
#print(sheet.max_row)

for row in range(2,sheet.max_row + 1):
    cell = sheet.cell(row , 3) #another way to access each cell
    corrected_price = cell.value * 0.9
    corrected_price_cell = sheet.cell(row , 4) #Adding corrected price to a new column
    corrected_price_cell.value = corrected_price
    
wb.save('transactions2.xlsx') #Saving the changes to a new file

In [10]:
#Machine Learning
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.shape
df.values #vale attribute

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [9]:
df.describe() #describe method gives some useful info about the dataset

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [26]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv('music.csv')


X = music_data.drop(columns=['genre'])
y = music_data['genre']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #Splitting our dataset into test and train datasets

model = DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

1.0